asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==6.0.4
django-embed-video==1.4.10
django-environ==0.13.0
idna==3.13
pillow==12.2.0
requests==2.33.1
sqlparse==0.5.5
tzdata==2026.1
urllib3==2.6.3
