{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/shop.css' %}">
{% endblock %}

{% block title %}Shop{% endblock %}

{% block content %}

    <div class="list">
        { for prod in product_list %}
            <div class="product-card">
                {% if prod.image %}
                    <img src="{{ prod.image.url }}" alt="{{ prod.title }}" class="product-image">
                {% else %}
                    <div class="product-image placeholder">Image Coming Soon</div>
                {% endif %}            
                
                <h2>{{ prod.title }}</h2>
                <label class="price">${{ prod.price|floatformat:"2" }}</label>
                <label class="stock">Stock: {{ prod.stock }}</label>
            
            </div>
        { endfor %}

    </div>

{% endblock %}