<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>New Contact Message</title>
</head>
<body>
    <h2>New BartoArts Contact Message</h2>

    <p><strong>Name:</strong> {{ full_name }}</p>
    <p><strong>Email:</strong> {{ email }}</p>

    <p><strong>Project Type:</strong> {{ project_type }}</p>
    <p><strong>Interested In:</strong> {{ interest }}</p>
    <p><strong>Referral:</strong> {{ referral }}</p>

    <hr>

    <p><strong>Message:</strong></p>
    <p>{{ message }}</p>
</body>
</html>