<ul class="navbar-nav ms-auto">
    {% if user.is_authenticated %}
        <li class="nav-item">
            <span class="nav-link">Hi, {{ user.username }}!</span>
        </li>

        <li class="nav-item">
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="nav-link btn btn-link">
                    Logout
                </button>
            </form>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </li>
    {% endif %}
</ul>

For newer Django versions, logging out is usually handled with a POST form instead of a plain link.